/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #231f20;
  --basic-extra: #333333;
  --basic-dark-gray: #666666;
  --basic-extra-gray: #a9a9a9;
  --basic-light-brown: #766357;
  --basic-dark-brown: #766458;
  --basic-brown:  #604e43;
  --basic-extra-brown: #503E33;
  --basic-light-blue: #81b3d3;
  --basic-neutral-blue: #81b3d2;
  --basic-dark-blue: #5496db;
  --basic-blue: #669ec0;
  --basic-white: #ffffff;
  --basic-light: #eeeeee;
  --basic-extra-light:#f2f2f2;
  --basic-dark-light:#ebebeb;
  --basic-light-light: #E5E5E5;
}

/* Global */

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}

a {
  text-decoration: none;

}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  margin: 0 auto;
}

/* Grid */

.page {
  /*height: 100%;*/
}

/* Main header */


.main-header .container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}

/* Inner-page */

.inner-page .main-header {
  background-color: var(--basic-white);
}


/* Main navigation */

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 60px;
  margin: 0 auto;
  padding: 0;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 60px;
  background-color: var(--basic-black);
}

.main-navigation-wrapper .container {

}

/* Container */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 0px;
}


/* Logo */

.main-header-logo {
  display: flex;
  position:absolute;
  overflow:auto;
  width: 138px;
  height: 70px;
  align-self: center;
}
/*
.main-navigation a {
  width: 138px;
  height: 70px;
}*/



/* Site-navigation */

.site-navigation {
  color: var(--basic-black);
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  width: 1200px;
  min-height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;

  list-style: none;
  align-content:center;

}

.left {
  display: flex;
  justify-content:flex-start;

  margin-left: 30px;
  gap: 30px;
}

.right {
  display: flex;
  justify-content:flex-end;
  margin-right: 30px;
  gap: 40px;
}

.site-navigation a {
  color: var(--basic-black);
  display: block;
  padding: 25px 40px;
}

.site-navigation a:hover {
  color: var(--basic-neutral-blue);
}

.site-navigation a:focus{
  color: var(--basic-neutral-blue);
}
.site-navigation a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Presentation */

.presentation {
  width: 1200px;
  height: 510px;
  background-image: url("../img/photo/sedona-hill.jpg..");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  /*margin-top: 25px;*/
  flex-direction: column;
  justify-content: flex-end;
}


.welcome {
  display: flex;
  /*width: 457px;
  height: 351px;*/
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
  /*background-image: url("../img/icon/icon-decor.svg");*/

.ornament {
  display: flex;
  width: 1200px;
  height: 57px;
}
/* City */

.city {
  /*width: 1200px;
  height: 216px;*/
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 20px;


}

.city h2 {
  /*width: 470px;
  height: 80px;*/

  color: var(--basic-black);
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  padding-bottom: 30px;
}

.city p {
  /*width: 519px;
  height: 26px;*/

  color: var(--basic-extra);
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  padding-bottom: 40px;

}

/* Index-columns-revier */

.index-columns-revier {
  display: flex;
  justify-content: space-between;
  /*display: grid;
  grid-template-columns: 1fr 1fr;*/
}


/* Review */

.review {
  background-color: var(--basic-light-blue);
  width: 400px;
  height: 256px;
  background-repeat: no-repeat;

  color: var(--basic-white);
  text-align: center;
  text-transform: uppercase;

}

.review h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-top: 45px;
}

.review p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  margin-top: 25px;
}

/* Flora */

.flora {
  width: 800px;
  height: 256px;
  background-image: url("../img/photo/sedona-flora.jpg");
}

/* index-columns */

.index-columns {
  color: var(--basic-extra);
  font-size: 14px;
  line-height: 21px;

  font-style: normal;
  font-weight: normal;
  align-items: center;
  text-align: center;
  text-transform: uppercase;

}

/* Features */

.features {
  background-color: var(--basic-white);
  background-position: center, 0 0;
  background-repeat: no-repeat;
  width: 1200px;
  height: 270px;
  /*margin-bottom: 40px;*/
  padding-top: 60px;
  /*padding-bottom: 80px;*/

}


.features-list {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;*/
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.feature-item {
  width: 400px;
  text-align: center;
}

.feature-item p {
  margin: 0 10px;
}

.features h3 {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

/* Index-columns-bridge */

.index-columns-bridge {
  display: flex;
  justify-content: space-between;
  /*display: grid;
  grid-template-columns: 1fr 1fr;*/
}


/* Bridge */

.bridge {
  width: 800px;
  height: 256px;
  background-image: url("../img/photo/sedona-bridge.jpg");
}

/* Sight */

.sight {
  background-color: var(--basic-light-blue);
  width: 400px;
  height: 256px;
  background-repeat: no-repeat;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;

  color: var(--basic-white);
  font-style: normal;
  text-align: center;
  text-transform: uppercase;
}


.sight h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  margin-top: 50px;
}

.sight p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  margin: 0;
  margin-top: 25px;
}

/* Columns */

.columns {
  background-color: var(--basic-light);
  width: 1200px;
  height: 256px;
  background-position: center, 0 0;
  background-repeat: no-repeat;

}

.columns h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 25px;
}

.columns p {
  padding-bottom: 25px;
}

/* Appointment */

.appointment {
  width: 1200px;
  height: 256px;
  background-position: center, 0 0;
  background-repeat: no-repeat;


}
.appointment h2{
  padding-top: 30px;
}


.appointment p{
  padding-bottom: 30px;
}

.appointment-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;


}
.appointment-item {
  width: 568px;
  margin-top: 0;
  margin-bottom: 10px;
  outline: 5px solid #ff0000;
}

.appointment-item label {
  display: block;
  width: 346px;
  height: 38px;
  /*margin-bottom: 15px;
  margin-left: 10px;*/
}



.appointment-item input {
  width: 140px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
}
.appointment-item input {
  width: 140px;
  padding-top: 8px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-left: 15px;
  font: inherit;
  background-color: transparent;
  border: 2px solid var(--basic-black);
  box-sizing: border-box;
}

.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}


.appointment .button {
  display: block;
  width: 100%;
  margin-top: 10px;
  margin-right: 0;
}

/* Button-search */

.button-search {
  width: 568px;
  height: 86px;
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  margin-bottom: 55px;


}

.button-search:hover {
  background-color: var(--basic-light-brown);
}

.button-search:focus {
  background-color: var(--basic-brown);
}

.button-search:active {
  background-color: var(--basic-extra-brown);
}

.button-search.disabled,
.button-search:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-light-blue);
}

/* Button-find */

.button-find {
  width: 458px;
  height: 58px;
  background-color: var(--basic-light-blue);
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  display: block;
  position:  relative;
  margin-left: 55px;

}

.button-find:hover {
  background-color: var(--basic-light-blue);
}

.button-find:focus {
  background-color: var(--basic-blue);
}

.button-find:active {
  background-color: var(--basic-dark-blue);
}

.button-find.disabled,
.button-find:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: var(--basic-light-blue);
}

/* Inner-page */
/*
.inner-page {
  color: var(--basic-black);
  background-color: var(--basic-white);

  /*height: 217px;*/
  /*background-position: 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;*/


/* Page-catalog */

.page-catalog {
  color: var(--basic-black);
  background-color: var(--basic-white);
  background-position: 0 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  width: 1200px;
  margin: 0 auto;
  min-height: 100%;
  /*display: grid;*/
  /*grid-template-rows: min-content 1fr min-content;
  align-content: start;*/

  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;

  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}

/* Page-title */

.page-title {
  font-size: 16px;
  line-height: 21px;
  outline-offset: -5px;
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}


/* Filters */

.filter {
  background-image: url("../img/photo/sedona-background.png");
  width: 1200px;
  height: 217px;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--basic-white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  /*display: grid;
  grid-template-columns: 300px 300px 1fr;*/
  margin-bottom: 40px;
}

.filters {
  display: flex;
  margin-bottom: 35px;
  justify-content: space-between;
  margin-top: 40px;
}

.filter ul {
  list-style: none;
}

.filter-input-checkbox:hover + label,
.filter-input-checkbox:focus + label {
  color: var(--special);
}

.infrastructure {
  display: flex;
  padding: 0;
  margin: 0;
  align-items:stretch;
}

.housing {
  display: flex;
  padding: 0;
  margin: 0;
  align-items:stretch;
}

.rate {
  display: flex;
  justify-content:flex-end;
  align-items:stretch;
}

/* Legend */

legend {
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  margin-left: 40px;
  margin-right: 40px;
}

legend ul {
  list-style: none;
}

/* Breadcrumbs */

.breadcrumbs {
  list-style: none;
  color: var(--basic-black);
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
  gap: 40px;


  align-items: center;
  flex-wrap: wrap;
}

.breadcrumbs h3 {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  /*margin-bottom: -40px;*/
}

.breadcrumbs p {
  font-weight: bold;
  display: flex;
  /*margin-bottom: -40px;*/
}

.breadcrumbs ul {
  list-style: none;
  display: flex;
  gap: 40px;
  /*margin-bottom: -40px;*/
}

.breadcrumbs-list {
  color: var(--basic-neutral-blue);
  list-style: none;
}

.breadcrumbs-item {
  list-style: none;
  mix-blend-mode: normal;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: var(--basic-dark);
}

/* Choice */

.choice {
  font-weight: normal;
  color:var(--basic-extra);
  font-size: 14px;
  line-height: 21px;
}

.choice ul {
  list-style: none;
}

.choice a {
  font-weight: bold;
  color: var(--basic-black);
  font-size: 21px;
  line-height: 26px;

}

.choice a:hover {
  color: var(--basic-light-blue);
}
.choice a:focus {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}
.choice a:active {
  color: var(--basic-black);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Offering-hotel */

.offering-hotel {
  display: grid;
  grid-template-columns: 135px auto 1fr;
  grid-template-rows: 30px 30px 30px;
  max-width: 1200px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.offering-hotel a {
  grid-column: 2 / -1;
  margin-left: 35px;
}


/* Offering */

.offering {
  grid-column: 2 /2;
  margin-left: 35px;
}

/* Photo-hotel */

.photo-hotel {
  grid-row: 1/4;
  width: 135px;
  height: 90px;
}

/* Price */

.price {
  grid-column: 3/4;
  grid-row: 2/3;
}


/* Booking */

.booking {
  grid-column: 3/4;
  grid-row: 3/3;
}

/* Rating */

.rating-meaning {
  color: var(--basic-dark-gray);
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  text-decoration: none;
  grid-column: 4;
  grid-row: 3;
  grid-column: end;
}

.rating-img {
  grid-column: 4;
  grid-row: 1;
  grid-column: end;
}

/*.rating a{
  text-decoration: none;
}*/

/*
.rating:hover {
  color: var(--basic-neutral-blue);
  font-weight: normal;
}

.rating:focus {
  color: var(--basic-neutral-blue);
  font-weight: normal;
}

.rating:active {
  color: var(--basic-black);
  font-weight: bold;
}*/

/* Details */

.details {
  width: 110px;
  height: 27px;
  background-color: var(--basic-neutral-blue);
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;

  grid-column: 2/3;
  grid-row: 3/3;
  margin-left: 30px;
  margin-right: 5px;
}

.details:hover {
  background-color: var(--basic-blue);
}

.details:focus {
  background-color: var(--basic-blue);
}

.details:active {
  background-color: var(--basic-dark-blue);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Booking */

.booking {
  width: 142px;
  height: 27px;
  background-color: var(--basic-light-brown);
  color: var(--basic-white);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.booking:hover {
  background-color: var(--basic-brown);
}

.booking:focus {
  background-color: var(--basic-brown);
}

.booking:active {
  background-color: var(--basic-extra-brown);
  mix-blend-mode: normal;
  opacity: 0.3;
}

/* Contacts */

.contacts-phone {
  color: inherit;
}
/* Appointment */

.appointment {
  width: 568px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.appointment-form {
  width: 568px;
  z-index: 1;
  background-color:white;
  display: flex;
  position: absolute;
  flex-wrap: nowrap;
  left: 0;
  right: 0;
  margin: auto;
}

.appointment-info {
  margin: 0;
  margin-bottom: 20px;
}

.appointment h2 {
  font-size: 30px;
  line-height: 24px;
}
/* Appointment-item */


.appointment-item {
  /*width: 467px;*/

  /*width: 100%;*/
  display: grid;
  grid-template-columns: 30% 1fr;
}

.appointment .button {
  /*margin-top: 10px;
  margin-right: 0;*/
}

.appointment-item label {
  color:var(--basic-black);

}

.appointment-item input {
  width: 346px;
  height: 38px;
  font: inherit;
  background-color: transparent;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-light);
  position: relative;
  background-image: url("../img/icon/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.appointment-item-union {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}


.union {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.union label {
  margin-left: 40px;
}

.appointment-item-union input {
  width: 114px;
  height: 38px;
  font: inherit;
  background-color: transparent;
  position: relative;
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-extra-light);
  background-image: url("../img/icon/icon-rectangle.svg");
  background-position: left;
  background-image: url("../img/icon/icon-union.svg");

  background-position: right;
  background-repeat: no-repeat, no-repeat;
  display: grid;
}

.appointment-item input:focus {
  background-color: var(--basic-extra-light);
  border: 2px solid var(--basic-light-light);
}

.appointment-item input:focus {
  border-color: var(--special);
}


.map {
  width: 1199px;
  height: 594px;
  background-image: url("../img/png/png-map.jpg");
  /*opacity: 0.3;*/
  /*background-attachment: fixed;*/
}



/* Main footer */

.main-footer {
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 1200px;
  height: 120px;

  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin: 0 auto;
}

.main-footer {
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/


}

/* Footer-contacts */

.footer-contacts {
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  display: flex;
  margin-left: 80px;
}

.footer-contacts a {
  font-weight: bold;
  list-style: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: none;
  background-color: var(--basic-blue);
}

/* Footer-social */

.footer-social {
  display: flex;
  justify-self: center;
}

.footer-social ul {
  width: 145px;
  height:48px;
  list-style: none;
}
.footer-social ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.footer-social h2 {
  font-size: 21px;
}

/* Social button */

.social-button {
  display: flex;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-light-blue);
  color: inherit;
}



.social-button:hover,
.social-button:focus {
  background-color: var(--basic-blue);
}
.social-button:active {
  background-color: var(--basic-dark-blue);
}
.footer-copyright .button:hover,
.footer-copyright .button:focus {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

/* Website */

.website {
  list-style: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  flex-wrap:wrap;
  align-self: flex-end;
  margin-right: 80px;
}
